<div class="container" style="margin-top: 150px;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">trainerName</th>
                <th scope="col">price</th>
                <th scope="col">startAt</th>
                <th scope="col">capacity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let c of courses ' >
                <td>{{c._id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.description}}</td>
                <td>{{c.trainerName}}</td>
                <td>{{c.price}}</td>
                <td>{{c.startAt}}</td>
                <td>{{c.capacity}}</td>
    
                <td>
                    
                    <button class="btn btn-danger" (click)='goToEdit(c._id)'>Edit </button>
                    <button class="btn btn-danger" (click)='deleteCourse(c._id)'>Delete</button>
                </td>
    
            </tr>
        </tbody>
    </table>
    </div>